body {
	margin:  0px;
	padding: 0px;
	font-family: Roboto,Arial,Helvetica;
	background-image: url("https://hdqwalls.com/download/udyr-league-of-legends-qhd-1366x768.jpg")
}

#wrapperphandau {
	height: 217px;
	width: 1164px;
	margin: auto;
	font-size: 100%;
}
.headerphandau {
	width: 1164px;
	height: 131px;
}
#logophandau {
	float: left;
}
#chuyennhuongphandau {
	margin-top: 10px;
	float: right;
}
#menuphandau {
	width: 100%;
	height: 86px;
	background-color: black;
}
#menuphandau li {
  color: #000;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menuphandau a {
  text-decoration: none;
  color: white;
  display: block;
  font-weight: bold;
}
#menuphandau a:hover {
  background: #8B8B8B;
}
li a {
	text-align: center;
}
#searchbarphandau {
	float: right;
	margin-top: 9px;
	margin-right: 8px;
}
